@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap");

@import "reset.css";
@import "variable.css";

@import "status-bar.css";
@import "navbar.css";

@import "menu.css";

@import "welcome.css";
@import "friend.css";
@import "chat.css";

* {
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
  width: 100%;
}

.main {
  width: 100%;
  margin-top: 33px;
  padding: 0px 16px;
  overflow-y: auto;
}
