@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;600;700&display=swap");

@import "reset.css";

@import "components/status-bar.css";
@import "components/navbar.css";
@import "components/menu.css";

@import "screens/welcome.css";
@import "screens/friend.css";
@import "screens/chat.css";
@import "screens/find.css";
@import "screens/more.css";
@import "screens/setting.css";
@import "screens/chatting.css";
@import "screens/profile.css";

* {
  box-sizing: border-box;
}
body {
  font-family: "Oswald", sans-serif;
  width: 100%;
}

.main {
  width: 100%;
  margin-top: 33px;
  padding: 0px 16px;
}

#screen-cover {
  width: 100vw;
  height: 100vh;
  z-index: 3;
  position: absolute;
  top: 0;
  background-color: black;
  color: white;
  text-align: center;
  line-height: 100vh;
  font-size: 50px;
}

@media screen and (max-width: 700px) {
  #screen-cover {
    display: none;
  }
}
